@{
    ViewData["Title"] = "Panel de Gerente";
}

<h2>Panel de Gerente</h2>
<p>Bienvenido Gerente. Aquí puedes ver reportes, gráficos predefinidos o descargar informes.</p>

<div class="d-grid gap-2 col-6 mx-auto">
    <a href="/Gerente/ViewReports" class="btn btn-secondary btn-lg">Ver Reportes</a>
    <a href="/Gerente/ViewCharts" class="btn btn-secondary btn-lg">Ver Gráficos</a>
    <a href="/Gerente/DownloadReports" class="btn btn-secondary btn-lg">Descargar Informes</a>
</div>
